# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Output files
*.json

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# Streamlit secrets
**/.streamlit/secrets.toml
streamlit-key.json

# Markdown files (documentation locale uniquement)
*.md
functions/kill-billing.zip
