# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Output files
*.json

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Streamlit secrets
.streamlit/
streamlit-key.json

# Todo files
TODO.md
